/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* Features Components */
.features {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #343a40;
  font-family: "Poppins", sans-serif;
  .features-text {
    .display-4 {
      font-weight: 600;
      font-size: 28px;
      margin-bottom: 15px;
    }
    .lead {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
  .features-list {
    margin-bottom: 50px;
    img {
      width: 250px;
    }
    .display-4 {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 400;
    }
    .lead {
      font-size: 16px;
    }
  }
}

@media (min-width: 992px) {
  /* Features Components */
  .features {
    margin-top: -180px;
    margin-bottom: -150px;
    .features-text {
      margin-bottom: 40px;
      margin-top: 55px;
      .display-4 {
        font-weight: 500;
        font-size: 25px;
      }
      .lead {
        font-size: 15px;
        width: 50%;
        margin: auto;
      }
    }
    .features-list {
      img {
        width: 200px;
      }
      .display-4 {
        font-size: 15px;
        width: 80%;
        margin: auto;
        margin-bottom: 10px !important;
        font-weight: 500;
      }
      .lead {
        font-size: 13px;
      }
    }
  }
}
